@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .blur {
    filter: blur(5px);
  }
}
